@charset "UTF-8";
body {
  background-color: #82b4ff; }

header {
  background: #525252; }

.fondo1 {
  background: linear-gradient(to top, #11100f, #272626); }

.fondo2 {
  width: 200PX;
  margin: 10px;
  padding: 10px; }

nav {
  background: linear-gradient(to top, #1b1b1b, #333333); }

/*Hr cambia el tamaño barra horizontal*/
.phr {
  padding: 1px; }

.aicde1 {
  background: #afafaf; }
