body{
    background-color: rgb(253, 253, 237)
}
header{
    background: rgb(82, 82, 82);
}
.fondo1{
    background: linear-gradient(to top, rgb(17, 16, 15),rgb(39, 38, 38));
}
.fondo2{
    background: linear-gradient(to top, rgb(255, 197, 181),rgb(247, 247, 176));
}
.jumbotron{
	width: 200PX;
	margin: 10px;
	padding: 10px;
	height: 95px;
}
nav{
    background: linear-gradient(to top, rgb(27, 27, 27),rgb(51, 51, 51));
}
/*Hr cambia el tamaño barra horizontal*/
.phr{
    padding: 1px;
}
.aicde1{
    background: rgb(175, 175, 175)
}
